@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root {
  /* Color styles */
  --white:                 #FFFFFF;
  --black:                 #000000;
  --skyblue:               #1DD0D7;
  --green:                 #1B884C;
  --greenmoyen:            #5BBF7E;
  --greenclair:            #93F8B3;
  --purple:                #585CA6;
  --greenblue:             #03A696;
  --greenbluefonce:        #04BF9D;
  

  /* Text-size styles */
  --title-xxl: 5rem;
  --title-xl: 1.5rem;
  --title-lg: 1.125rem;
  --text-xxl: 3rem;
  --text-xl: 1.375rem;
  --text-md: 0.813rem;
  --text-sm: 0.688rem;

  /* Font-family styles */
  --font-titre: 'Odibee Sans', cursive;
  --font-text: 'Roboto Condensed', sans-serif;

  /* Font variantes */
  --letter-spacing: 0.05em;

  /* Espaces */
  --space1x: 8px;
  --space2x: 16px;
  --space3x: 24px;
  --space4x: 48px;
}