
*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: $font-text;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-titre;

}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(30);
    // gap: rem(30);
    padding-left: rem(30);
    padding-right: rem(30);
}
img {
    height: rem(150);
    width: rem(150);
}


