@media (max-width: 1000px) {
	* {
		box-sizing: border-box;
	}
}
@media (min-width: 1000px) {
	* {
		box-sizing: border-box;
	}
    .contact {
            font-family: $font-text;
            font-size: $text-md;
        &__titre {
            margin-top: rem(30);
            color: $green;
            font-family: $font-titre;
            font-size: rem(60);
            grid-column: 6 / span 2 ;
            text-align: center;
        }
        &__form {
            grid-column: 4 / span 6 ;
            border: rem(2) solid $skyblue;
            border-radius: rem(15);
            padding: rem(20);
            margin-bottom: rem(100);
            margin-top: rem(40);
        }
    }
    .form {
        padding-top: rem(10);
        &__desc {
            color: $purple;
            
        }
        &__input {
            color: $purple;
            border-radius: rem(5);
        }
        &__input--text {
            color: $purple;
            width: 100%;
        }
        &__btn {
            color: $purple;
            text-align: center;
            justify-content: center;
        }
    }
}