    // #main {
    //     position:relative;
    // }
    // footer {
    //     margin-top: auto;
    // }
    
    
    
    .footer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr auto;
        background-color: $black;
        color: $white;
        height: rem(120);  
        width:100%;
        padding-top: rem(20);
        // margin-top: auto;
        
        
        &__titre {
            font-size: $title-lg;
            font-family: $font-titre;
            grid-column: 1 / span 1;
            font-weight: 500;
            margin-top: 0;
        }
        &__nav {
            display: none;
            list-style: none;
            grid-column: 2 / span 1;
            
        }
        &__link {
            grid-column: 3;
            align-self: start;
            text-align: center;
        }
        &__lien {
            text-decoration: none;
            color: $white;
            font-family: $font-titre;
            margin-bottom: 20px;
        }
    }
    .navi {
        text-decoration: none;
        border-bottom: 2px solid transparent;
        // padding: rem(10) rem(0);
        font-weight: bold;
        list-style-type: none;
        &__main {
            list-style-type: none;
        }
        &__deroulant{
            // display: none;
            box-shadow: 0px 1px 2x #CCC;
            background-color: $white;
            position: absolute;
            width: 100%;
            z-index: 1000;
            list-style-type: none;
        }
        &__menu{
            float: left;
            width: 25%;
            text-align: center;
            position: relative;
        }
        &__lien {
            text-decoration: underline;
            color: $white;
            text-align: center;
            font-family: $font-titre;
            font-weight: 400;
            font-size: rem(24);
        }
    }



@media (min-width: 1000px) {
	* {
		box-sizing: border-box;
	}

.footer {
    height: rem(120);  
    width:100%;
    &__titre {
        font-size: $title-xl;
        grid-column: 1 / span 3;
    }
    &__nav {
        list-style: none;
        grid-column: 4 / span 4;
    }
    &__link {
        grid-column: 11;
        align-self: start;
        text-align: center;
    }
    &__lien {
        text-decoration: none;
        color: $white;
        font-family: $font-titre;
        margin-bottom: 20px;
    }
}
.navi {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    list-style-type: none;
    &__main {
        list-style-type: none;
    }
    &__deroulant{
        box-shadow: 0px 1px 2x #CCC;
        background-color: $white;
        position: absolute;
        width: 100%;
        z-index: 1000;
        list-style-type: none;
    }
    &__menu{
        float: left;
        width: 25%;
        text-align: center;
        position: relative;
    }
    &__lien {
        text-decoration: underline;
        color: $white;
        text-align: center;
        font-family: $font-titre;
        font-weight: 400;
        font-size: rem(24);
    }
}
}