.header {
    height: rem(230);
    border-bottom: solid 2px;
    border-bottom-color: $greenblue;
    grid-template-rows: (2fr 0.2fr);
    padding-top: rem(30);
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__titre {
        font-family: $font-titre;
        font-size: $title-xxl;
        /* Degrader de la couleur du texte (se trouve aussi dans nav a)*/ 
        background:-webkit-linear-gradient(right, $skyblue 30%, $green 76%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        grid-column: 3 / span 5;
    }
    &__btn {
        grid-column: 12;
    }
    &__btn--search {
        grid-column: 12;
        grid-row: 2;
    }
    &__button {
        margin-bottom: rem(5);
        color: $white;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
        background: $green;
        border-radius: 5px;
        width: rem(80);
        height: rem(40);
        
    }
    &__button--search {
        margin: 0;
        background: rgb(27,136,76);
        background: linear-gradient(180deg, rgba(27,136,76,1) 0%, rgba(27,136,76,1) 0%, rgba(0,212,255,1) 100%);
    }
    &__nav {
        grid-row: 2;
        grid-column: 8 / span 4;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        background-color: $white;
        position: sticky;
        top: 0px;
        align-self: center;
        justify-self: center;
    }
}
.nav {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: rem(0) rem(0);
    font-weight: bold;
    list-style-type: none;
    color: $greenblue;
    font-size: $text-md;
    


    &__main {
        list-style-type: none;
    }   
    &__deroulant{
        display: none;
        box-shadow: 0px 1px 2x #CCC;
        background-color: $white;
        position: absolute;
        width: 100%;
        z-index: 1000;
        list-style-type: none;
        text-decoration: none;
        border-radius: 0 0 10px 10px;
    }
    &__ssderoulant{
        list-style-type: none;
    }
    &__menu:hover .nav__deroulant{
        display: block;

    }
   &__ligne{
    text-decoration: none;
    margin-top: 20px;

   }
   &__ligne--titre{
       text-decoration: underline;
       font-size: $text-xl;
   }
    &__menu{
        float: left;
        width: 25%;
        text-align: center;
        position: relative;
        text-decoration: none;
    }
    &__lien {
        color: $greenblue;
        text-decoration: none;
    }
}
