@media (max-width: 1000px) {
	* {
		box-sizing: border-box;
	}
.parcours {
        display: grid;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: 1fr auto;
        &__title{
            margin: 30px;
            color: $green;
            font-family: $font-titre;
            font-weight: 200;
            font-size: $title-xl;
            grid-column: 1 / span 6;
            justify-self: center;
            grid-row: 1 /span 1;
        }
        &__etape{
            grid-column: 1 /span 6;
        }
        &__bandeau{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6,auto);
            grid-template-rows: 1fr;
    }
    &__contenu{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr 1fr;
        grid-row: 2;
        grid-column: 2 / span 3;

}
}
    
}
.bandeau{
    background-color: $greenblue;
    &__sstitre{
        font-family: $font-titre;
        font-weight: 200;
        margin: auto;

        font-size: rem(30);
        grid-row: 1;
        grid-column: 2 / span 1;
        background-color: $greenblue;
        color: white;
        font-weight: 200;
    }
    

    &__img{
        height: 80px;
        width: 57px;
        // width: max-content;
        // height: max-content;
        align-self: center;
        justify-self: center;
        grid-row: 1;
        grid-column: 1 / span 1;
    }
    &__tuyau{
        grid-column: 6 / span 1;
    }

}
.contenu{
    &__resume{
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        color: $purple;
        font-family: $font-text;
        font-size: rem(16);
    }
    &__form{
        grid-row: 2 / span 1;
        grid-column: 4 / span 1;
    }
    &__lien{
        
        grid-row: 2 / span 1;
        grid-column: 5 / span 1;
        font-family: $font-text;
        font-size: $text-md;
        padding: 10px;
        background-color: $greenblue;
        border-style: none;
        color: white;
        border-radius: 3px;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    }
}

.presentation {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left : 20px;
    margin-right : 20px;
    &__contenu {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    &__text {
        grid-column: 1/4;
    }
    &__title {
        grid-column:  1/4;
        font : {
            size : $title-xl;
            family : $font-titre;
        }
        color : $green;
        margin-top : 5px;
        margin-bottom : 10px;
        text-align: center;
    }
    &__subtitle {
        grid-column: 1/4;
        color : $purple;
        padding-bottom : 5px;
        font-family : $font-text;
        font-size : rem(40);
        margin-bottom : 10px;        
    }
    &__link {
        text-decoration : none;
    }
    &__lien {
        grid-column: 1/3;
        text-decoration: none;
        color : $skyblue; 
        margin-left: 10px;
        font : {
            size : $text-xl;
            family : $font-text;
        }
        margin-bottom : 10px;
    }
    &__desc {
        margin-left : 10px;
        margin-bottom : 10px;
        font: {
            size : $text-xl;
            family : $font-text;
        }
        display: inline-block;
    }
        &__logo {
            max-width : 1000%;
            grid-column: 1/4;
            margin : auto;
        }
}
@media (min-width: 1000px) {
	* {
		box-sizing: border-box;
        
	}

.parcours {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr auto;
    &__title{
        color: $green;
        font-size: $title-xl;
        grid-column: 1 / span 12;
        justify-self: center;
        grid-row: 1 /span 1;
    }
    &__etape{
        grid-column: 2 /span 10;
    }
    &__bandeau{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: 1fr;
        
    }
    &__contenu{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 1fr 1fr;
        grid-row: 2;
        grid-column: 2 / span 3;

}
}

.bandeau{
    background-color: $greenblue;
    &__sstitre{
        font-size: rem(48);
        grid-column: 2 / span 2;
        align-self: center;
        background-color: $greenblue;
        color: white;
        font-weight: 200;
    }
    &__img{
        height: 80px;
        width: 57px;
        align-self: center;
        justify-self: center;
        grid-row: 1;
        grid-column: 1 / span 1;
    }
    &__tuyau{
        grid-column: 10 / span 1;
    }
}
.contenu{
    &__resume{
        grid-column: 2 / span 6;
        grid-row: 1 / span 1;
        color: $purple;
        font-family: $font-text;
        font-size: rem(22);
    }
    &__form{
        grid-row: 2 / span 1;
        grid-column: 8 / span 1;
    }
    &__lien{
        
        grid-row: 2 / span 1;
        grid-column: 8 / span 1;
        font-family: $font-text;
        font-size: $text-md;
        padding: 10px;
        background-color: $greenblue;
        border-style: none;
        color: white;
        border-radius: 3px;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    }
}
.presentation {
    display : grid;
    grid-template-columns: repeat(12, 1fr);
    &__contenu {
        grid-column: 1/12;
        grid-template-rows: repeat(7, 1fr);
    }
    &__text {
        grid-column: 1/8;
    }
    &__title {
        grid-column: 6/6;
        font : {
            size : $title-xxl;
            family : $font-titre;
        }
    }
    &__subtitle {
        grid-column: 1/12;
        grid-row: 1/1;
        font-size : $text-xxl;
        margin-left : 20px;
    }
    &__desc {
        grid-row: 2/5;
        grid-column: 1/8;
        font-size : $text-xl;
    }
    &__lien {
        grid-column: 1/4;
    }
    &__logo {
        grid-column: 4/ span (2);
        grid-row: 3/1;
    }
}
}
