.recherche{
    margin-top: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr auto;
    ::placeholder{
        color: $purple;
    }
    &__barre{
        
        box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
        grid-column: 2 / span 4;
        grid-row: 1 / span 1;
        height: 50px;
        font-size: rem(35);
        font-family: $font-titre;
        border-color: $greenbluefonce;
        color: $purple;
        border-style: none;
    }
    &__cat{
        box-shadow: inset 0 -1px 3px -1px rgba(0,0,0,0.3), 0 2px 2px 1px rgba(0,0,0,0.1) ;
        grid-column: 6 / span 1;
        grid-row: 1;
        font-size: rem(25);
        font-family: $font-titre;
        color: $greenbluefonce;
        border-style: none;

    }
    &__choix{
        font-family: $font-titre;
        color: $purple;
    }
    &__niv{
        box-shadow: inset 0 -1px 3px -1px rgba(0,0,0,0.3), 0 2px 2px 1px rgba(0,0,0,0.1) ;
        grid-column: 7 / span 1;
        grid-row: 1;
        font-size: rem(25);
        font-family: $font-titre;
        color: $greenbluefonce;
        border-style: none;
    }
    &__form{
        box-shadow: inset 0 -1px 3px -1px rgba(0,0,0,0.3), 0 2px 2px 1px rgba(0,0,0,0.1) ;
        grid-column: 8 / span 1;
        grid-row: 1;
        font-size: rem(25);
        font-family: $font-titre;
        color: $greenbluefonce;
        border-style: none;
    }
    &__lan{
        box-shadow: inset 0 -1px 3px -1px rgba(0,0,0,0.3), 0 2px 2px 1px rgba(0,0,0,0.1) ;

        
        grid-column: 9 / span 1;
        grid-row: 1;
        font-size: rem(25);
        font-family: $font-titre;
        color: $greenbluefonce;
        border-style: none;
        border-radius: 5px;
    }
    &__ajout{
        
        grid-column: 12 / span 1;
        border-style: none;
        align-self: center;

        
        
    }
    &__btn{
        box-shadow: inset 0 -1px 4px -1px rgba(0,0,0,0.3), 0 2px 2px 1px rgba(0,0,0,0.1) ;
        width: 80px;
        align-self: center;
        height: 40px;
        background-color: $greenblue;
        font-size: rem(12);
        font-family: $font-text;
        color: white;
        border-radius: 3px;
        border-style: none;
        
    }
}
.tutos{
    grid-column: 1 / span 12;
}