@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Color styles */
$white:                 #FFFFFF;
$black:                 #000000;
$skyblue:               #1DD0D7;
$green:                 #1B884C;
$greenmoyen:            #5BBF7E;
$greenclair:            #93F8B3;
$purple:                #585CA6;
$greenblue:             #03A696;
$greenbluefonce:        #04BF9D;

/* Text-size styles */
$title-xxl: rem(80);
$title-xl: rem(24);
$title-lg: rem(18);
$text-xxl: rem(48);
$text-xl: rem(22);
$text-md: rem(13);
$text-sm: rem(11);

/* Font-family styles */
$font-titre: 'Odibee Sans', cursive;
$font-text: 'Roboto Condensed', sans-serif;

/* Font variantes */
$letter-spacing: 0.05em;

/* Espaces */
$space1x: rem(8);
$space2x: rem(16);
$space3x: rem(24);
$space4x: rem(48);







